body {
    background: #ccc
}
#btn {
    display: block;
    margin: 50px auto;
    padding: 10px;
    background-color: #00f;
    width: 100px;
    color: #fff;
    border-radius: 50%;
}
#modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: none
}
#modal #modal_content {
    position: relative;
    background-color: #fff;
    margin: 200px auto;
    height: 100px;
    width: 600px;
    padding: 20px;
    border-radius: 20px;
    line-height: 30px;
    border: 4px solid #ccc;
}
#modal #modal_content #modal_btn {
    position: absolute;
    right: 30px;
    bottom: 30px;
    background-color: #f00;
    color: #fff;
    padding: 10px;
    width: 70px;
    border: none;
    border-radius: 5px;
    font-size: 12px;
}
